APP_ENV=dev
APP_DEBUG=false
APP_URL=http://ahsan-nginx
APP_TIMEZONE=UTC


DB_CONNECTION=mysql
DB_HOST=ahsan-mysql
DB_PORT=3306
DB_DATABASE=teknasyon
DB_USERNAME=teknasyon
DB_PASSWORD=teknasyon

REDIS_HOST=ahsan-redis

CACHE_DRIVER=redis

JWT_SECRET=0zDIoamUz1paRqY1LWrQrhV3hfS3zgM34hPdmHEn8dQR2PWMQCVmqtaQDRqXQJDu

SENTRY_DSN=https://bb757d21979d4b7aaec4f2b1b1a7d806@o214167.ingest.sentry.io/5618603
